{# templates/client/client_registered.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Registration Complete{% endblock %}

{% block body %}
    <h1>Registration Complete</h1>
    <p>Thank you for registering. Your registration is now complete.</p>
{% endblock %}
